<div class="container text-center my-3">
    <h1>Confirmar cargas en transporte</h1>
    <br>
    {{#each data}}
    <h5>{{name}}</h5>
    {{/each}}

</div>

<script src="javascripts/index.js"></script>